{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% load requested_tags %}

{% block title %}Find Company{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-blue">
                        <i class="fa fa-search font-blue"></i>
                        <span class="caption-subject bold uppercase">
                        {{ request.user.customer_set.first.get_material_display }},
                            {{ request.user.customer_set.first.get_process_display }}</span>
                        <small>
                            <br>
                            <span class="small font-grey-salsa">Budget: {{ request.user.customer_set.first.get_budget_display }}</span>
                            <br>
                            <span class="small font-grey-salsa">Need Assistance: {{ request.user.customer_set.first.get_need_assistance_display }}</span>
                            <br>
                            <span class="small font-grey-salsa">You are: {{ request.user.customer_set.first.get_customer_type_display }}</span>
                            <br>
                            <span class="small font-grey-salsa">Size: {{ request.user.customer_set.first.get_size_display }}</span>
                            <br>
                            <span class="small font-grey-salsa">Shipping: {{ request.user.customer_set.first.get_shipping_display }}</span>
                        </small>
                    </div>
                </div>

                <div class="general-item-list">
                    {% if companies %}
                        {% for company in companies %}
                            <div class="item">
                                <div class="item-head">
                                    <div class="item-details">
                                        {# <img class="item-pic rounded" src="{% static 'img/avatar80_1.jpg' %}">#}
                                        <a href="" class="item-name primary-link">{{ company.display_name }}</a>
                                        <span class="item-label">{{ company.full_name }}</span>
                                    </div>

                                    <span class="item-status">
                                        {% is_company_requested company request.user as is_requested %}
                                        {% if not is_requested %}
                                        <form action="{% url 'quote:req' company.pk %}" method="post">
                                            {% csrf_token %}
                                            <button class="btn btn-sm btn-success invite">Request a Quote</button>
                                        </form>
                                        {% else %}
                                            <button class="btn btn-sm btn-default disabled">Requested</button>
                                        {% endif %}
                        </span>
                                </div>
                                <div class="item-body">
                                    <p>{{ company.description }}</p>
                                    Materials: <b>{{ company.get_material_display }}</b> <br>
                                    Processes: <b>{{ company.get_top_printing_processes_display }}</b> <br>
                                    Budget: <b>{{ company.get_budget_display }}</b> <br>
                                    Cad Assistance: <b>{{ company.is_cad_assistance }}</b> <br>
                                    Consideration: <b>{{ company.get_consideration_display }}</b>

                                    <p></p>

                                    <div class="well">
                                        <address>
                                            <strong>{{ company.name }}</strong>
                                            <br/> {{ company.address_line_1 }}
                                            <br/> {{ company.address_line_2 }}
                                            <br/>
                                        <address>
                                            <strong>{{ company.full_name }}</strong>
                                        </address>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-info text-center">
                            Nothing Found :( <br>
                            Try to change filters
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
