{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% load requested_tags %}

{% block title %}Find Company{% endblock title %}

{% block content %}

  <div class="row">
    <div class="col-md-9 col-md-offset-1">
      <div class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption font-black">
            <i class="fa fa-search font-black"></i>
            <span class="caption-subject bold uppercase">
                        {{ request.user.customer_set.first.get_material_display }},
              {{ request.user.customer_set.first.get_process_display }}</span>
            <small>
              <br>
              <span class="small font-grey-salsa">Budget:
                {{ request.user.customer_set.first.get_budget_display }}</span>
              <br>
              <span class="small font-grey-salsa">
                Need Assistance: {{ request.user.customer_set.first.get_need_assistance_display }}</span>
              <br>
              <span class="small font-grey-salsa">You are:
                {{ request.user.customer_set.first.get_customer_type_display }}</span>
              <br>
              <span class="small font-grey-salsa">Size:
                {{ request.user.customer_set.first.get_size_display }}</span>
              <br>
              <span class="small font-grey-salsa">Shipping:
                {{ request.user.customer_set.first.get_shipping_display }}</span>
            </small>
          </div>
        </div>

        <div class="general-item-list">
          {% if companies %}
            {% for company in companies %}
              <div class="item">
                <div class="item-head">
                  <div class="item-details">
                    {% if company.user.plan == 2 %}
                      <h3 class="bold">Premium Manufacturer</h3>
                      {% if company.logo %}
                        <img class="item-pic rounded" src="{{ company.logo.url }}">
                      {% else %}
                        <img class="item-pic rounded" src="http://placehold.it/35x35">
                      {% endif %}
                      <i class="fa fa-diamond" title="Premium Company"></i>
                    {% endif %}
                    <a href="{% url 'company:detail' company.pk %}"
                       class="item-name primary-link">{{ company.display_name }}</a>
                    <span class="item-label">{{ company.get_rating_html_snippet|safe }}</span>
                  </div>

                  <span class="item-status">
                                        {% is_company_requested company request.user as is_requested %}
                    {% if not is_requested %}
                      <form action="{% url 'quote:req' company.pk %}" method="post">
                                            {% csrf_token %}
                                            <button class="btn btn-sm btn-success invite" type="submit">
                                              Request a Quote</button>
                                        </form>
                    {% else %}
                      <button class="btn btn-sm btn-default disabled">Requested</button>
                    {% endif %}
                        </span>
                </div>
                <div class="item-body {% if company.user.plan == 2 %}premium{% endif %}">
                  <p>
                    {% if company.user.plan == 1 %}
                      {{ company.description|truncatechars:300 }}
                    {% else %}
                      {{ company.description }}
                    {% endif %}
                  </p>
                  Materials: <b>{{ company.get_material_display }}</b> <br>
                  Processes: <b>{{ company.get_top_printing_processes_display }}</b> <br>
                  Budget: <b>{{ company.get_budget_display }}</b> <br>
                  Cad Assistance: <b>{{ company.is_cad_assistance }}</b> <br>

                  <p></p>
                  <div id="plan">
                    {% if company.user.plan == 2 %}
                      <h4>Special Offers from manufacturer:</h4>
                      {% if company.specialoffer_set.all %}
                        <ul>
                          {% for offer in company.specialoffer_set.all %}
                            <li style="position: relative">
                              {{ offer.text }}
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    {% endif %}
                  </div>

                  <div class="well">
                    <address>
                      <strong>{{ company.name }}</strong>
                      <br/> {{ company.address_line_1 }}
                      <br/> {{ company.address_line_2 }}
                    </address>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div class="alert alert-info text-center">
              Nothing Found :( <br>
              Try to change filters
            </div>
          {% endif %}
        </div>
        {% if is_paginated %}
          <div class="text-center">
            <ul class="pagination pagination-sm">
              {% if page_obj.number >= 5 %}
                <li><a href="?page=1">1</a></li>
                <li><span>...</span></li>
              {% elif page_obj.number == 4 %}
                <li><a href="?page=1">1</a></li>
              {% endif %}
              {% if page_obj.number|add:"-2" >= 1  %}
                <li><a href="?page={{ page_obj.number|add:"-2" }}">
                  {{ page_obj.number|add:"-2" }}</a></li>
              {% endif %}
              {% if page_obj.number|add:"-1" >= 1  %}
                <li><a href="?page={{ page_obj.number|add:"-1" }}">
                  {{ page_obj.number|add:"-1" }}</a></li>
              {% endif %}
              <li class="active"><a href="?page={{ page_obj.number }}">
                {{ page_obj.number }}</a></li>
              {% if page_obj.number|add:"1" <= paginator.num_pages  %}
                <li><a href="?page={{ page_obj.number|add:"1" }}">
                  {{ page_obj.number|add:"1" }}</a></li>
              {% endif %}
              {% if page_obj.number|add:"2" <= paginator.num_pages %}
                <li><a href="?page={{ page_obj.number|add:"2" }}">
                  {{ page_obj.number|add:"2" }}</a></li>
              {% endif %}
              {% if page_obj.number|add:"2" <= paginator.num_pages|add:"-2" %}
                <li><span>...</span></li>
                <li><a href="?page={{ paginator.num_pages }}">
                  {{ paginator.num_pages }}</a></li>
              {% elif page_obj.number|add:"1" <= paginator.num_pages|add:"-2" %}
                <li><a href="?page={{ paginator.num_pages }}">
                  {{ paginator.num_pages }}</a></li>
              {% endif %}
            </ul>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock content %}

{% block extra_js %}
  <script>
      $(":submit").closest("form").submit(function(){
          $(':submit').attr('disabled', 'disabled');
      });
  </script>
{% endblock extra_js %}
