.tip {
	position: relative;
	background: black;
  color: white;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
	border: 1px solid gray;
}
.tip:after, .tip:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tip:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: black;
	border-width: 1px;
	margin-left: -1px;
}
.tip:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: black;
	border-width: 7px;
	margin-left: -7px;
}
