{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner %}

  <h1>{% trans "Password Reset" %}</h1>
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

  <form class="forget-form" style="display: block" action="{% url 'account_reset_password' %}" method="post">
    {% csrf_token %}
    <h3 class="font-green">Forgot Password ?</h3>
    <p> Enter your e-mail address below to reset your password. </p>
    <div class="form-group">
      <input class="form-control placeholder-no-fix form-group" type="text" autocomplete="off"
             placeholder="Email" name="email" /> </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-success uppercase pull-right">Reset My Password</button>
    </div>
  </form>

  <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}

