{% extends 'base_form.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Add Company{% endblock title %}

{% block extra_css %}
  <link href="{% static 'forms/bootstrap-fileinput/bootstrap-fileinput.css'%}" rel="stylesheet"  type="text/css" />
{% endblock extra_css %}

{% block header %}
  <header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %}); height: 200px">
  </header>
{% endblock %}

{% block content %}
  <a href="">
    <h2 class="post-title">
      We're excited to welcome you to our network
    </h2>
    <h3 class="post-subtitle">
      You're almost there. Below we have your business's profile.
      It will help us connect you to your customers.
    </h3>
  </a>


  <div class="container mb-15 margin-bottom-20">

    {% if form.errors %}
      <div class="alert alert-danger">
        {{ form.errors }}
      </div>
    {% endif %}

    <form autocomplete="off" action="" method="post">
      {% csrf_token %}
      <div class="form-body">

        {{ form.user }}

        <div class="row">
          <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label
                            {% if form.name.errors %}has-error{% endif %}">
              {{ form.name }}
              <label for="form_control_1">{{ form.name.label|title }}</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label
                        {% if form.display_name.errors %}has-error{% endif %}">
              {{ form.display_name }}
              <label for="form_control_1">{{ form.display_name.label|title }}</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label
                            {% if form.address_line_1.errors %}has-error{% endif %}">
              {{ form.address_line_1 }}
              <label for="form_control_1">{{ form.address_line_1.label|title }}</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label
                            {% if form.address_line_2.errors %}has-error{% endif %}">
              {{ form.address_line_2 }}
              <label for="form_control_1">{{ form.address_line_2.label|title }}</label>
            </div>
          </div>
        </div>

        {% if user.plan and user.plan == 2 %}
          <div class="row">
            <div class="col-md-6">
              <div class="fileinput fileinput-new" data-provides="fileinput">
                <div class="input-group input-large">
                  <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                    <i class="fa fa-file fileinput-exists"></i>&nbsp;
                    <span class="fileinput-filename"> </span>
                  </div>
                  <span class="input-group-addon btn default btn-file">
                                                            <span class="fileinput-new"> Select file </span>
                                                            <span class="fileinput-exists"> Change </span>
                                                            {{ form.logo }} </span>
                  <a href="javascript:;" class="input-group-addon btn red fileinput-exists"
                     data-dismiss="fileinput"> Remove </a>
                </div>
              </div>
            </div>
          </div>
        {% endif %}

        <div class="row">
          <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label
                            {% if form.full_name.errors %}has-error{% endif %}">
              {{ form.full_name }}
              <label for="form_control_1">{{ form.full_name.label|title }}</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label
                            {% if form.email.errors %}has-error{% endif %}">
              {{ form.email }}
              <label for="form_control_1">{{ form.email.label|title }}</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label
                            {% if form.phone.errors %}has-error{% endif %}">
              {{ form.phone }}
              <label for="form_control_1">{{ form.phone.label|title }}</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label
                            {% if form.website.errors %}has-error{% endif %}">
              {{ form.website }}
              <label for="form_control_1">{{ form.website.label|title }}</label>
            </div>
          </div>
        </div>

        <div style="margin-top: 60px; margin-bottom: 100px;">
          <hr style="background: #37c6d3">
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label
                            {% if form.ideal_customer.errors %}has-error{% endif %}">
              {{ form.ideal_customer }}
              <label for="form_control_1">{{ form.ideal_customer.label|title }}</label>
            </div>
          </div>

          <div class="col-md-6 form-group">
            <div class="md-checkbox
                                    {% if form.is_cad_assistance.errors %}has-error{% endif %}">
              {{ form.is_cad_assistance }}
              <label for="{{ form.is_cad_assistance.id_for_label }}">
                <span></span>
                <span class="check"></span>
                <span class="box"></span>
                {{ form.is_cad_assistance.label }}
              </label>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label
                            {% if form.budget.errors %}has-error{% endif %}">
              {{ form.budget }}
              <label for="form_control_1">{{ form.budget.label|title }}</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label
                            {% if form.printing_options.errors %}has-error{% endif %}">
              {{ form.printing_options }}
              <label for="form_control_1">{{ form.printing_options.label|title }}</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label
                            {% if form.material.errors %}has-error{% endif %}">
              {{ form.material }}
              <label for="form_control_1">{{ form.material.label|title }}</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label
                            {% if form.top_printing_processes.errors %}has-error{% endif %}">
              {{ form.top_printing_processes }}
              <label for="form_control_1">{{ form.top_printing_processes.label|title }}</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label
                            {% if form.is_expedited.errors %}has-error{% endif %}">
              {{ form.is_expedited }}
              <label for="form_control_1">{{ form.is_expedited.label|title }}</label>
            </div>
          </div>
          <div class="col-md-6">

            <div class="form-group form-md-line-input form-md-floating-label
                            {% if form.shipping.errors %}has-error{% endif %}">
              {{ form.shipping }}
              <label for="form_control_1">{{ form.shipping.label|title }}</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-md-line-input form-md-floating-label
                            {% if form.description.errors %}has-error{% endif %}">
              <textarea name="description" required=""
                        class="form-control edited {% if is_starter %}testinput{% endif %}"
                        rows="3" id="id_description" cols="40">{{ form.description.value }}</textarea>

              <label class="form_control_1">{{ form.description.label }}</label>
            </div>
            <div class="alert alert-danger" style="display: none" id="starterCharsLimit">
              Starter Membership has a limit for description in 300 characters.
              <a class="bold" href="{% url 'users:plan' %}#plan">Please upgrade your plan here</a>.
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-info">Submit</button>
      </div>
    </form>
  </div>
{% endblock content %}

{% block extra_js %}
  <script src="{% static 'forms/bootstrap-fileinput/bootstrap-fileinput.js' %}"></script>

  <script>
      $('textarea.testinput').on('keyup', function() {
          // 300 chars limit
          limitText(this, 300)
      });

      function limitText(field, maxChar){
          var ref = $(field),
              val = ref.val();
          if ( val.length >= maxChar ){
              ref.val(function() {
                  $('#starterCharsLimit').show();
                  return val.substr(0, maxChar);
              });
          }
      }
  </script>

{% endblock extra_js %}
