{% extends "base.html" %}
{% load staticfiles i18n %}

{% block title %} Thanks For Your Submission! {% endblock %}

{% block content %}
    <div id="preloader">
        <div id="status"> <img src="{% static 'img/preloader.gif' %}" height="64" width="64" alt=""> </div>
    </div>
    <!-- Navigation -->
    {% include 'pages/includes/menu.html' %}

    <div id="intro_plan">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h1><span class="brand-heading">Thanks For Your Submission!</span></h1>
                        <a href="#plan" class="btn btn-default page-scroll">CHOOSE YOUR PLAN</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Plan Section -->
    <div id="plan">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>
                        Your profile has been created! Simply select your membership option and we'll
                        start connecting you to Customers.
                    </h1>
                </div>


                <div class="col-md-6">
                    <div class="about-text">
                        <h2 class="text-center">Starter</h2>
                        <p>Starter is a great option to try out our service and make sure it fits perfectly with
                            your budget and goals. There's no upfront cost, just simply leave us your payment
                            information and we'll make your profile available to all our users.</p>

                        <p>Once a user selects your service for a quote, we send you an email giving you all
                            of their project's information so you can take it from there. When this quote is
                            sent, we simply charge a single flat rate on that conversion.</p>

                        <p>This plan is as simple as it gets, $1.99 fee per conversion, no matter how large the
                            customer's quote or order is. Whether its $25 or $2,500, we only take our small
                            one time fee. Not only this but we give you the ability set a limit on how many
                            quotes you'd like to receive a month, once you reach that limit, we'll stop
                            displaying your company's profile, for concise and easy budgeting. ​​</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-text">
                        <h2 class="text-center">Premium</h2>
                        <p>The Premium plan is our flagship offering, providing the best service and the best
                            results. Included is unlimited monthly quotes sent directly to you and unlimited
                            access to our platform. This includes more customized options to set you and your
                            business apart from others.</p>

                        <p>
                        <ul class="list-unstyled">
                            <li>Larger and more eye-catching displays that include  special offerings for customers.</li>
                            <li>Custom user fields that will prompt more information from a customer before they
                                submit a quote for streamlined service catered to your business</li>
                            <li>No limit on selections, we send you every quote for services your business wants.</li>
                        </ul>
                        </p>

                        <p>​Our premium plan starts at $49.99 for one month, $105 for 3 months, and $360 for a
                            12 month subscription. Don't cap your business, when one potential order can provide
                            our service for free. Sign up now!</p>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr class="active">
                            <th> 1 Month <br> ​Subscription </th>
                            <th> 3 Month <br> ​Subscription </th>
                            <th> 1 Year <br> Subscription </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td> $49.99 </td>
                            <td> $34.99 </td>
                            <td> $29.99 </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center">
{#                    <a href="" class="btn btn-default">CHOOSE STANDARD</a>#}
                </div>
                <div class="col-md-6 text-center">
                    <a href="{% url 'payments:card' %}" class="btn btn-default">
                        <i class="fa fa-shopping-cart"></i> CHOOSE PREMIUM</a>
                </div>
            </div>
        </div>
    </div>

    {% include 'pages/includes/footer.html' %}
{% endblock content %}
