{% extends 'base_form.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Add Company{% endblock title %}

{% block extra_css %}
  <link href="{% static 'forms/bootstrap-fileinput/bootstrap-fileinput.css'%}" rel="stylesheet"  type="text/css" />
{% endblock extra_css %}

{% block header %}
  <header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %}); height: 200px">
  </header>
{% endblock %}

{% block content %}
  <a href="">
    <h2 class="post-title">
      We're excited to welcome you to our network
    </h2>
    <h3 class="post-subtitle">
      You're almost there. Below we have your business's profile.
      It will help us connect you to your customers.
    </h3>
  </a>


  <div class="container mb-15 margin-bottom-20">

    {% if form.errors %}
      <div class="alert alert-danger">
        {{ form.errors }}
      </div>
    {% endif %}

    <form autocomplete="off" action="" method="post">
      {% csrf_token %}
      <div class="form-body">

        {{ form.user }}

        <div style="margin-top: 60px; margin-bottom: 100px;">
          <h3 class="text-center">Company Information</h3>
          <hr style="background: #37c6d3">
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label
                            {% if form.name.errors %}has-error{% endif %}">
              {{ form.name }}
              <label for="form_control_1">{{ form.name.label|title }}</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label
                        {% if form.display_name.errors %}has-error{% endif %}">
              {{ form.display_name }}
              <label for="form_control_1">{{ form.display_name.label|title }}</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label
                            {% if form.address_line_1.errors %}has-error{% endif %}">
              {{ form.address_line_1 }}
              <label for="form_control_1">{{ form.address_line_1.label|title }}</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label
                            {% if form.address_line_2.errors %}has-error{% endif %}">
              {{ form.address_line_2 }}
              <label for="form_control_1">{{ form.address_line_2.label|title }}</label>
            </div>
          </div>
        </div>

        {% if user.plan and user.plan == 2 %}
          <div class="row">
            <div class="col-md-6">
              <div class="fileinput fileinput-new" data-provides="fileinput">
                <div class="input-group input-large">
                  <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                    <i class="fa fa-file fileinput-exists"></i>&nbsp;
                    <span class="fileinput-filename"> </span>
                  </div>
                  <span class="input-group-addon btn default btn-file">
                                                            <span class="fileinput-new"> Select file </span>
                                                            <span class="fileinput-exists"> Change </span>
                                                            {{ form.logo }} </span>
                  <a href="javascript:;" class="input-group-addon btn red fileinput-exists"
                     data-dismiss="fileinput"> Remove </a>
                </div>
              </div>
            </div>
          </div>
        {% endif %}

        <div class="row">
          <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label
                            {% if form.full_name.errors %}has-error{% endif %}">
              {{ form.full_name }}
              <label for="form_control_1">{{ form.full_name.label|title }}</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label
                            {% if form.email.errors %}has-error{% endif %}">
              {{ form.email }}
              <label for="form_control_1">{{ form.email.label|title }}</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label
                            {% if form.phone.errors %}has-error{% endif %}">
              {{ form.phone }}
              <label for="form_control_1">{{ form.phone.label|title }}</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label
                            {% if form.website.errors %}has-error{% endif %}">
              {{ form.website }}
              <label for="form_control_1">{{ form.website.label|title }}</label>
            </div>
          </div>
        </div>

        <div style="margin-top: 60px; margin-bottom: 100px;">
          <h3 class="text-center">Printing and Manufacturing Information</h3>
          <hr style="background: #37c6d3">
          <div class="text-center">
            Hold down Ctrl and select all that apply below
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label
                            {% if form.ideal_customer.errors %}has-error{% endif %}">
              {{ form.ideal_customer }}
              <label for="form_control_1">{{ form.ideal_customer.label|title }}</label>
            </div>
          </div>

          <div class="col-md-6 form-group">
            <div class="md-checkbox
                                    {% if form.is_cad_assistance.errors %}has-error{% endif %}">
              {{ form.is_cad_assistance }}
              <label for="{{ form.is_cad_assistance.id_for_label }}">
                <span></span>
                <span class="check"></span>
                <span class="box"></span>
                {{ form.is_cad_assistance.label }}
              </label>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label
                            {% if form.budget.errors %}has-error{% endif %}">
              {{ form.budget }}
              <label for="form_control_1">{{ form.budget.label|title }}</label>
            </div>
          </div>
        </div>

        <div class="small alert alert-danger alert-dismissible" style="display: none" id="starterCharsLimit">
          <span id="warningText">Starter Membership has a limit for description in 300 characters.</span>
          <a style="text-decoration: underline" class="bold" href="{% url 'users:plan' %}#plan">
            Please upgrade your plan here</a>.
          <button type="button" class="close" style="text-indent: 1px" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label
                            {% if form.material.errors %}has-error{% endif %}">
              {{ form.material }}
              <label for="form_control_1">{{ form.material.label|title }}</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label
                            {% if form.top_printing_processes.errors %}has-error{% endif %}">
              {{ form.top_printing_processes }}
              <label for="form_control_1">{{ form.top_printing_processes.label|title }}</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label
                            {% if form.is_expedited.errors %}has-error{% endif %}">
              {{ form.is_expedited }}
              <label for="form_control_1">{{ form.is_expedited.label|title }}</label>
            </div>
          </div>
          <div class="col-md-6" id="shipping">

            <div class="form-group form-md-line-input form-md-floating-label
                            {% if form.shipping.errors %}has-error{% endif %}">
              {{ form.shipping }}
              <label for="form_control_1">{{ form.shipping.label|title }}</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-md-line-input form-md-floating-label
                            {% if form.description.errors %}has-error{% endif %}">
              <textarea name="description" required=""
                        class="form-control edited {% if is_starter %}starter{% endif %}"
                        rows="3" id="id_description" cols="40">{{ form.description.value }}</textarea>

              <label class="form_control_1">{{ form.description.label }}</label>
            </div>
          </div>
        </div>

        {% if is_starter %}
          <div style="margin-top: 60px; margin-bottom: 100px;" id="quote_limit">
            <h3 class="text-center">Set limit of quotes for your company</h3>
            <hr style="background: #37c6d3">
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group form-md-line-input form-md-floating-label
                            {% if form.quote_limit.errors %}has-error{% endif %}">
                {{ form.quote_limit }}
                <label for="form_control_1">{{ form.quote_limit.label|title }}</label>
              </div>
            </div>
          </div>
        {% endif %}

        <button type="submit" class="btn btn-info">Submit</button>
      </div>
    </form>
  </div>
{% endblock content %}

{% block extra_js %}
  <script src="{% static 'forms/bootstrap-fileinput/bootstrap-fileinput.js' %}"></script>

  <script>
    $('textarea.starter').on('keyup', function() {
      // 300 chars limit
      limitText(this, 300)
    });

    function limitText(field, maxChar){
      var ref = $(field),
        val = ref.val();
      if ( val.length >= maxChar ){
        ref.val(function() {
          $('#starterCharsLimit').show();
          return val.substr(0, maxChar);
        });
      }
    }

    $('.materials').find().closest('select').attr('id', 'starter_materials');


    var last_valid_selection = null;
    {% if is_starter or not request.user.plan %}
      $('#id_material').change(function(event) {
        if ($(this).val().length > 3) {
          $('#warningText').text('Starter Membership has a limit of selection.');
          $('#starterCharsLimit').show();
          $(this).val(last_valid_selection);
        } else {
          last_valid_selection = $(this).val();
        }
      });
      $('#id_top_printing_processes').change(function(event) {
        if ($(this).val().length > 3) {
          $('#warningText').text('Starter Membership has a limit of selection.');
          $('#starterCharsLimit').show();
          $(this).val(last_valid_selection);
        } else {
          last_valid_selection = $(this).val();
        }
      });
      $('#id_budget').change(function(event) {
        if ($(this).val().length > 1) {
          $('#warningText').text('Starter Membership has a limit of selection.');
          $('#starterCharsLimit').show();
          $(this).val(last_valid_selection);
        } else {
          last_valid_selection = $(this).val();
        }
      });
      $('#id_ideal_customer').change(function(event) {
        if ($(this).val().length > 1) {
          $('#warningText').text('Starter Membership has a limit of selection.');
          $('#starterCharsLimit').show();
          $(this).val(last_valid_selection);
        } else {
          last_valid_selection = $(this).val();
        }
      });
    {% endif %}

    $('#id_material').change(function(event) {
      if ($(this).val() == "16") {  // if it's PEEK
        $('#id_top_printing_processes').prop('disabled', true);
        $('#id_top_printing_processes option[value="8"]').attr("selected", "selected");
      } else {
        $('#id_top_printing_processes').prop('disabled', false);
      }
    });

    $("#id_top_printing_processes option").each(function() {

      if($(this).val() == 8) {
        $(this).hide();
      }
    });
    var shipping = $('#shipping');
    shipping.hide();
    $('#id_is_expedited').change(function() {
      if (this.value == '1') {
        shipping.show();
        $('#id_shipping').prop('required', true);
        console.log(this.value)
      } else {
        shipping.hide();
        $('#id_shipping').removeAttr('required');
        console.log(this.value)
      }
    });

    $('form').submit(function(e) {
      $(':disabled').each(function(e) {
        $(this).removeAttr('disabled');
      })
    });

  </script>

{% endblock extra_js %}
