{% extends "base.html" %}
{% load staticfiles i18n %}

{% block title %} Thanks For Your Submission! {% endblock %}

{% block content %}
  <div id="preloader">
    <div id="status"> <img src="{% static 'img/preloader.gif' %}" height="64" width="64" alt=""> </div>
  </div>
  <!-- Navigation -->
  {% include 'pages/includes/menu.html' %}

  <div id="intro_plan">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1><span class="brand-heading">Thanks For Your Submission!</span></h1>
            <a href="#plan" class="btn btn-default page-scroll">CHOOSE YOUR PLAN</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Plan Section -->
  <div id="plan">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>
            Your profile has been created! Select a membership option and start connecting with customers now!
          </h1>
        </div>


        <div class="col-md-6">
          <div class="about-text">
            <h2 class="text-center">Starter</h2>
            <h3 class="text-center">Just $1.99 Per Quote</h3>
            <p>Starter is a great option that fits seamlessly with any budget or business goal. The starter
              plan has <u>absolutely no upfront costs</u>, just leave us your payment information, and we make your
              profile available to all our users.</p>

            <p>Once a user selects your service for a quote, we send you an email giving you all their project’s
              timetable and specifications so you can respond quickly and easily. When the quote is sent, we
              charge a single flat fee for that conversion. </p>

            <p>This plan is as simple as it gets, $1.99 per conversion, no matter how large the customer’s quote or
              order is. Whether $25 or $2,500, we only take our small one-time fee. Not only this buy we give you
              the flexibility to set a limit on how many quotes you would like to receive a month. Once you reach
              that limit, we stop displaying your company’s profile, for concise and easy budgeting. ​​</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="about-text">
            <h2 class="text-center">Premium</h2>
            <h3 class="text-center">A Simple Monthly Fee</h3>
            <p>The Premium Plan is our flagship offering, providing the best service and the best results.
              Included in the premium plan is unlimited quotes sent directly to you and access to all features
              we offer on our platform. This includes more customized options to set you and your business
              apart from the competition.</p>

            <p>
            <ul class="list-unstyled">
              <li>Appear first in user searches and with our branded “Premium Manufacturers” tag,
                letting customers know your service is next to none.</li>
              <li>Get larger and more eye-catching displays that include special offerings for customers to
                browse and a longer company biography to tell customers your story.</li>
              <li>No limit on conversions, we send you every quote for services selected by users with no
                restrictions. </li>
              <li>Unlimited selections for your company's profile in terms of materials, printing process,
                and targeted individuals. No limits and more customer conversions!</li>
            </ul>
            </p>

            <p>We offer our premium plan starting at just $49.99 for a single month and as low as $29.99 a
              month for a 12-month subscription. Sign up and connect with your perfect customers today!</p>
          </div>
          <table class="table table-bordered">
            <thead>
            <tr class="active">
              <th> 1 Month <br> ​Subscription </th>
              <th> 3 Month <br> ​Subscription </th>
              <th> 12 Month <br> Subscription </th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td> $49.99 / Month </td>
              <td> $34.99 / Month </td>
              <td> $29.99 / Month </td>
            </tr>
            </tbody>
          </table>
          <p class="text-center small">
            <b>Premium Billed Upfront:</b> <br>
            {% if request.user.plan == 1 %}
              <select class="form-control" name="upfront_payment" id="upfront_payment">
                <option value="2">3-Month - ${{ three_amount_amount }} </option>
                <option value="3">12-Month - ${{ one_year_amount }} </option>
              </select>
            {% else %}
              3-Month - ${{ three_amount_amount }} <br>
              12-Month - ${{ one_year_amount }}
            {% endif %}
          </p>
        </div>
      </div>

      {% if not has_coupon %}
        <div class="col-md-offset-4 col-md-4 text-center">
          <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
            <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
              <a class="text-center" style="text-decoration: underline" data-toggle="collapse" href="#exampleCollapseDefaultOne" data-parent="#exampleAccordionDefault" aria-expanded="true" aria-controls="exampleCollapseDefaultOne">
                Do you have a coupon?
              </a>
            </div>
            <div class="panel-collapse collapse" id="exampleCollapseDefaultOne"
                 aria-labelledby="exampleHeadingDefaultOne" role="tabpanel">
              <div class="form-group has-feedback" id="coupon_form">
                <div class="row">
                  <small class="control-label red-600" id="error_message" style="display: none">
                    Sorry this code is invalid or expired :(
                  </small>
                  <form action="{% url 'payments:activate_coupon' %}" method="post">
                    {% csrf_token %}
                    <input type="text" class="form-control" id="id_coupon_number"
                           aria-describedby="inputErrorStatus" name="coupon_number" autocomplete="off">
                    <span class="form-control-feedback" aria-hidden="true"></span>
                    <span class="sr-only" id="inputErrorStatus">(error)</span>
                    <button type="submit" onclick="return false" id="coupon_submit"
                            class="btn btn-outline btn-primary btn-xs">Use Coupon</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      {% if not request.user.payment_active %}
        <div class="row">
          <div class="col-md-6 text-center">
            <a href="{% url 'payments:start' %}?plan=1" class="btn btn-default">
              <i class="fa fa-shopping-cart"></i>
              CHOOSE STARTER</a>
          </div>
          <div class="col-md-6 text-center">
            <a href="{% url 'payments:start' %}?plan=2" class="btn btn-default">
              <i class="fa fa-shopping-cart"></i> CHOOSE PREMIUM</a>
          </div>
        </div>
      {% else %}
        <div class="row">
          <div class="col-md-6 text-center">
            {% if not request.user.plan == 1 %}
              <a href="{% url 'payments:make' %}?plan=1" class="btn btn-default">
                <i class="fa fa-shopping-cart"></i>
                CHOOSE STARTER</a>
            {% else %}
              <a href="" class="btn btn-default" disabled>
                <i class="fa fa-check"></i>
                YOUR CURRENT PLAN</a>
            {% endif %}
          </div>
          <div class="col-md-6 text-center">
            {% if not request.user.plan == 2 and not request.user.plan == 3 %}
              <a href="{% url 'payments:make' %}?plan=2" id="premuimController" class="btn btn-default">
                <i class="fa fa-shopping-cart"></i> CHOOSE PREMIUM</a>
            {% else %}
              <a href="" class="btn btn-default" disabled>
                <i class="fa fa-check"></i>
                YOUR CURRENT PLAN</a>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  {% include 'pages/includes/footer.html' %}
{% endblock content %}
{% block extra_js %}
  <script>
    // using jQuery
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    var paymentUrl = $('#premuimController');
    var upfrontPayment = $('#upfront_payment');

    upfrontPayment.on('change', function () {
      paymentUrl.attr("href", paymentUrl.attr('href').slice(0,-1) + upfrontPayment.val());
    });

    var coupon_form = $('#coupon_form');
    var coupon_submit = $('#coupon_submit');
    coupon_submit.on('click', function () {
      $.ajax({
        type: "POST",
        url: "{% url 'payments:activate_coupon' %}",
        data: {'coupon_number': $('#id_coupon_number').val(), 'csrftoken': getCookie('csrftoken')},
        success: function(data) {
          if (data.success) {
            $('#error_message').fadeOut();
            coupon_form.removeClass('has-error');
            coupon_form.addClass('has-success');
            coupon_submit.removeClass('btn-default').addClass('btn-success');
            coupon_submit.text('Thanks! Your code is accepted.');
            setTimeout(location.reload.bind(location), 1000);
          } else {
            coupon_form.addClass('has-error');
            $('#error_message').fadeIn();
          }
        }
      });
    });
  </script>
{% endblock extra_js %}
