{% extends "base.html" %}
{% load staticfiles i18n %}

{% block title %} About Us {% endblock %}

{% block content %}
  <div id="preloader">
    <div id="status"> <img src="{% static 'img/preloader.gif' %}" height="64" width="64" alt=""> </div>
  </div>
  <!-- Navigation -->
  {% include 'pages/includes/menu.html' %}

  <div id="intro_about">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1><span class="brand-heading">Our Mission</span></h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 style="font-size: 42px">Simple Service</h1>
          <p>We founded Your3D on the sole mission of streamlining the process of bringing your project from idea
            to reality. Finding the right service to bring your project to life is difficult, time-consuming, and
            costly. Not only that, but 3D printing can be complex and difficult to understand for beginners. So,
            we set out to bring the best service out there to you.</p>

          <p>Answer a few questions about your budget, timetable, your project’s specifications, and we take
            care of the rest. For beginners, dive deeper into your project in our recommendation matrix to
            receive ideas for the materials and printing processes we think best for your project.</p>

          <p>From there we give you the best providers that are matched specifically to you. Simply browse these
            great providers, choose the best fit, and we send you and your project’s information directly to
            them for a quote and manufacturing as fast as possible.</p>
          <h4>All for free, all in seconds.</h4>
        </div>
      </div>
    </div>
  </div>

  <div style="background: #f6f6f6;">
    <div class="container">
      <div class="section-title text-center center">
        <div class="row">
          <div class="col-md-8 col-md-offset-4">
            <img class="img-responsive" src="{% static 'img/logo-main.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Stop Searching. Start Printing.</h2>
        </div>

        <div class="col-md-6 text-center">
          <div class="about-text">
            <h4>Bring Your Project to Life</h4>
            <p>
              ​Simply tell us about your project and we'll take care of finding the best provider
              for you in seconds.
            </p>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <div class="about-text">
            <h4>Join Our Network</h4>
            <p>
              Are you a business looking to join our network? Great! We're looking to expand
              everyday. Follow the Business portal to get started.
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 text-center">
          <h5 class="about-text">Bring Your Project to Life Now</h5>
          <a href="{% url 'account_signup' %}" class="btn btn-default">START YOUR PROJECT</a>
        </div>
        <div class="col-md-6 text-center">
          <h5 class="about-text">Join Our Network Now</h5>
          <a href="{% url 'account_signup' %}?type=business" class="btn btn-default">SIGN UP NOW</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact Section -->
  <div id="contact" class="text-center">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">

        <h3>Get In Touch With Us!</h3>
        <hr>
        <p>
          <b>More questions about our service or what we provide? We love to hear feedback from our users!
            Fill out our question/comment form below and we'll get back to you as soon as possible.</b>
        </p>

        <form method="post" action="{% url 'contact:form' %}">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" id="name" class="form-control" placeholder="Name"
                       required="required" name="name">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" id="company" class="form-control" placeholder="Company"
                       name="company">
                <p class="help-block text-danger"></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" id="email" class="form-control" placeholder="Email"
                       required="required" name="email">
                <p class="help-block text-danger"></p>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                {{ form.subject }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea name="body" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
            <p class="help-block text-danger"></p>
          </div>
          <div id="success"></div>
          <button type="submit" class="btn btn-default">Send Message</button>
        </form>
{#        <div class="social">#}
{#          <h3>Follow us</h3>#}
{#          <ul>#}
{#            <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#            <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>#}
{#            <li><a href="#"><i class="fa fa-github"></i></a></li>#}
{#            <li><a href="#"><i class="fa fa-instagram"></i></a></li>#}
{#            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
{#          </ul>#}
{#        </div>#}
      </div>
    </div>
  </div>
  {% include 'pages/includes/footer.html' %}
{% endblock content %}
