{% extends "base.html" %}
{% load staticfiles i18n %}

{% block title %} Business {% endblock %}

{% block content %}
  <div id="preloader">
    <div id="status"> <img src="{% static 'img/preloader.gif' %}" height="64" width="64" alt=""> </div>
  </div>
  <!-- Navigation -->
  {% include 'pages/includes/menu.html' %}

  <div id="intro_business">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1><span class="brand-heading">Join Our Network</span></h1>
            <p class="intro-text">
              <b style="font-size: 22px;">Become our partner and find perfect customers in seconds.</b>
            </p>
            <a href="{% url 'account_signup' %}?type=business"
               class="btn btn-default page-scroll">JOIN NOW</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Team Section -->
  <div id="team" class="text-center">
    <div class="container">
      <div id="row">
        <div class="col-xs-6 col-md-6 col-sm-6">
          <div class="thumbnail"> <img src="{% static 'img/b_1.jpg' %}" alt="..." class="img-thumbnail team-img">
            <div class="caption">
              <h2 class="mb-15 mt-15">Boosting Your Business​</h2>
              <p>
                We provide customers that are a perfect match for you and your business. No more requests you
                cannot fill or do not match your platform. Our streamlined service delivers the right clients
                for your firm directly to your door.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-6 col-sm-6">
          <div class="thumbnail"> <img src="{% static 'img/b_2.jpg' %}" alt="..." class="img-thumbnail team-img">
            <div class="caption">
              <h2 class="mb-15 mt-15">Expand Your Reach</h2>
              <p>Advertising in large and competitive spaces is costly and unproductive. Let us narrow the fields
                and let your business and your service speak for themselves directly to clients that need and
                want your services. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="section-title center">
        <img class="img-responsive" src="{% static 'img/pricing-bg.jpg' %}" alt="">
        <h2 class="mt-15">Flexible Pricing</h2>
      </div>
      <div class="row">
        <div class="col-md-12">
          With different pricing models, we can match your marketing needs. Whether it is casting a wide net
          and attracting as many customers as possible or a more targeted approach, we have you covered.
          For extremely affordable prices that match your budget and business goals.
        </div>
      </div>

    </div>

  </div>
  <!-- Services Section -->
  <div id="services" class="text-center">
    <div class="container">
      <div class="section-title center ">
        <h2>Joining our network is simple, affordable, and fast. <br><br> Just like our service.​</h2>
        <hr>
      </div>
      <div class="space"></div>
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <h3>Tell Us About Your Company</h3>
          <p>Fill out a simple form and tell us more about your company’s offerings and what you’re
            looking for in a customer. </p>
        </div>
        <div class="col-md-4 col-sm-12">
          <h3>Select the Perfect Plan</h3>
          <p>At the end of your submission, you can browse our pricing plans. Whatever your marketing
            objectives we have a plan that can cater to your needs.</p>
        </div>
        <div class="col-md-4 col-sm-12">
          <h3>We Send Customers Right to You</h3>
          <p>Once you are in our system we find customers that are actively searching for the exact services
            your company provide. Once they find you and request a quote, we send their project’s
            specifications and information directly to you for seamless service.</p>
        </div>
      </div>
      <div class="section-title center">
        <a href="{% url 'account_signup' %}?type=business"
           class="btn btn-default page-scroll">Join Now</a>
      </div>
      <div class="space"></div>

    </div>
  </div>
  {% include 'pages/includes/footer.html' %}
{% endblock content %}
