{% extends 'base_form.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Material and Process Recommendation Wizard{% endblock title %}

{% block header %}
    <header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %}); height: 200px">
    </header>
{% endblock %}

{% block content %}

    <div class="container">
        {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-9 col-md-offset-1">
                <form action="" method="post">{% csrf_token %}
                    <div class="form-actions">
                        <div class="row">
                            <div class="form-group form-md-line-input form-md-floating-label">
                                {{ form|crispy }}
                            </div>
                            <button type="submit" class="btn btn-outline blue button-next" id="save"> Submit
                                <i class="fa fa-check"></i>
                            </button>
                            {% if back_button %}
                                <a onclick="location.reload()" class="btn btn-default button-next">
                                    <i class="fa fa-undo"></i> Restart</a>
                                <a href="{% url 'dashboard:company' %}" class="btn btn-default button-next">
                                    <i class="fa fa-times"></i> Exit</a>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11 text-center">
                <div id="blurb" style="display: none">
                    <i style="font-size: 32px; cursor: pointer" class="fa fa-question-circle"></i>
                    <div class="well">
                        <b id="tipTitle"></b> <br>
                        <p id="tipBody"></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/form-wizard.js' %}"></script>
{% endblock extra_js %}
